#commandLine {
  display: block;
  width: 30vw;
  height: 100vh;
  float: left;
}

.commandsInput {
  width: 100%;
  height: calc(100vh - 50px);
}

.editor {
  height: 200px;
  width: 100%;
}

textarea {
  background-color: #01203d;
  color: #fff;
  border: none;
  outline: none;
  resize: none;
  padding: 8px 8px 8px 12px;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

textarea:focus {
  border: none;
}
